.authentication {
  display: flex;
  flex-direction: row;

  &__image {
    width: 100%;
  }

  &__container {
    padding: 2rem;
  }
}


@media (min-width:320px)  {
  img {
    height: 35vh !important;
  }
}

@media (min-width:991px)  {
  img {
    height: 100vh !important;
    width: 100%;
  }
}
