.authentication {
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__image {
    height: inherit;
    width: 70vw;
  }

  &__container {
    height: inherit;
    width: 30vw;
    padding: 2rem;
  }
}
